<% var title = user.display_name +' | Profile' %>
<% include ../_layouts/header %>

    <h1><%= title %></h1>

<% if (user.provider === 'twitter') { %>
    <p>
      <a href="https://twitter.com/intent/user?user_id=<%= user.providers.twitter.id %>" target="_blank">
        <img src="<%= user.icon_url %>" width="48px" height="48px">
      </a>
    </p>
    <p>Twitter ID : <%= user.providers.twitter.id %></p>
<% } else if (user.provider === 'github') { %>
    <p><a href="https://github.com/<%= user.providers.name %>" target="_blank"><img src="<%= user.icon_url %>" width="48px" height="48px"></a></p>
    <p>GitHub ID : <%= user.providers.github.id %></p>
<% } %>

    <p>User Name : <%= user.username %></p>
    <p>Display Name : <%= user.display_name %></p>

    <a href="/<%= user.username %>/edit">
       <button  class="pure-button pure-button-primary f-left">Edit</button>
    </a>

    <form method="post" action="/<%= user.username  %>" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="pure-button">Delete</button>
    </form>

<% include ../_layouts/footer %>
